@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap');
@font-face {
  font-family: 'Circular Std';
  src: url('font/CircularStd-Medium.svg#CircularStd-Medium') format('svg'),
    url('font/CircularStd-Medium.ttf') format('truetype'),
    url('font/CircularStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('font/Circular-std-medium-500.eot');
  src: url('font/Circular-std-medium-500.eot?#iefix') format('embedded-opentype'),
    url('font/Circular-std-medium-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('font/CircularStd-Medium.eot');
  src: url('font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-Medium.svg#CircularStd-Medium') format('svg'),
       url('font/CircularStd-Medium.ttf') format('truetype'),
       url('font/CircularStd-Medium.woff') format('woff'),
       url('font/CircularStd-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';

  src: url('font/CircularStd-Book.eot');
  src: url('font/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-Book.svg#CircularStd-Book') format('svg'),
       url('font/CircularStd-Book.ttf') format('truetype'),
       url('font/CircularStd-Book.woff') format('woff'),
       url('font/CircularStd-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Circular Std';

  src: url('font/CircularStd-Black.eot');
  src: url('font/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-Black.svg#CircularStd-Black') format('svg'),
       url('font/CircularStd-Black.ttf') format('truetype'),
       url('font/CircularStd-Black.woff') format('woff'),
       url('font/CircularStd-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';

  src: url('font/CircularStd-MediumItalic.eot');
  src: url('font/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-MediumItalic.svg#CircularStd-MediumItalic') format('svg'),
       url('font/CircularStd-MediumItalic.ttf') format('truetype'),
       url('font/CircularStd-MediumItalic.woff') format('woff'),
       url('font/CircularStd-MediumItalic.woff2') format('woff2');
  font-weight: 700;
  font-style:italic
}


@font-face {
  font-family: 'Circular Std';
  src: url('font/CircularStd-BoldItalic.eot');
  src: url('font/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-BoldItalic.svg#CircularStd-BoldItalic') format('svg'),
       url('font/CircularStd-BoldItalic.ttf') format('truetype'),
       url('font/CircularStd-BoldItalic.woff') format('woff'),
       url('font/CircularStd-BoldItalic.woff2') format('woff2');
       font-weight: 600;
       font-style:italic
}


@font-face {
  font-family: 'Circular Std';
  src: url('font/CircularStd-Bold.eot');
  src: url('font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
       url('font/CircularStd-Bold.ttf') format('truetype'),
       url('font/CircularStd-Bold.woff') format('woff'),
       url('font/CircularStd-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('font/CircularStd-BlackItalic.eot');
  src: url('font/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('font/CircularStd-BlackItalic.svg#CircularStd-BlackItalic') format('svg'),
       url('font/CircularStd-BlackItalic.ttf') format('truetype'),
       url('font/CircularStd-BlackItalic.woff') format('woff'),
       url('font/CircularStd-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style:italic

}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'Minion Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Regular'), url('font/MinionPro-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Italic'), url('font/MinionPro-It.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Medium'), url('font/MinionPro-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Medium Italic'), url('font/MinionPro-MediumIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Semibold'), url('font/MinionPro-Semibold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Semibold Italic'), url('font/MinionPro-SemiboldIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Bold Condensed'), url('font/MinionPro-BoldCn.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Bold'), url('font/MinionPro-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Bold Condensed Italic'), url('font/MinionPro-BoldCnIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Minion Pro Bold Italic'), url('font/MinionPro-BoldIt.woff') format('woff');
  }